{
    "NODE_ENV": "local",
    "AWS_REGION": "local",
    "DYNAMODB_TABLE": "tenants",
    "AWS_ACCESS_KEY_ID": "fake",
    "AWS_SECRET_ACCESS_KEY": "fake",
    "DYNAMO_ENDPOINT": "http://dynamodb:8000"
}