@dhteam:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=euU_xRJ-QyzsG2Hhcmtt
//gitlab.com/api/v4/projects/18503812/packages/npm/:_authToken=euU_xRJ-QyzsG2Hhcmtt
