openapi: 3.0.0
servers:
  - description: Development Server
    url: 'http://playground-tenant-api.vm/dev'
info:
  version: 1.0.0
  title: Tenants
  contact:
    email: enzo@digitalhouse.com
paths:
  /:
    post:
      tags:
        - Tenants
      summary: Create a new tenant
      operationId: create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tenant'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Tenant'
  /{_id}:
    get:
      tags:
        - Tenants
      summary: Retrieve tenant info
      operationId: get-by-name
      parameters:
        - in: path
          name: _id
          required: true
          schema:
            type: string
          description: Acepta un uuidv4 o el nombre del tenant
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Tenant'
    put:
      tags:
        - Tenants
      summary: Update tenant info
      operationId: update
      parameters:
        - in: path
          name: _id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tenant'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Tenant'
components:
  schemas:
    Tenant:
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
          description: Indica el nombre único del tenant
        logoUrl:
          type: string
          description: Url del logo que se debe mostrar en el frontend
        canonicalDNS:
          type: string
          description: Nombre canónico que será usado por el tenant
        lookandfeelUrl:
          type: string
          description: Url de las variables de css para el look&feel del tenant
        logoutUrl:
          type: string
          description: Sí existe, indica la url a la que se debe redireccionar al usuario al cerrar sesión
        lang:
          type: string
          enum:
            - es-AR
            - pt-BR
          description: Indica el idioma con el que se debe mostrar el tenant
        country:
          type: string
          enum:
            - ar
            - br
          description: Indica el país root al que pertenece el tenant
        authStrategies:
          type: array
          description: Indica la(s) estrategia(s) de autenticación permitidas para el tenant 
          items:
            $ref: '#/components/schemas/AuthStrategy'
    AuthStrategy:
      type: object
      properties:
        type:
          type: string
          enum:
            - OAuthStrategy
            - NativeAuthStrategy
        config:
          oneOf:
            - $ref: '#/components/schemas/OAuthStrategy'
            - $ref: '#/components/schemas/NativeAuthStrategy'
    OAuthStrategy:
      type: object
      properties:
        hierarchy:
          type: number
          description: Indica la jerarquía de la estrategia sobre de las demás
        provider:
          type: string
          enum:
            - GOOGLE
            - MELI
          description: Indica el tipo de proveedor de OAuth
        providerUrl:
          type: string
          description: Indica la url del provider a la que se debe redireccionar
        buttonOnNativeLogin:
          type: boolean
          description: Indica si la estrategia pertenece a un botón del login nativo
        redirectOnOpen:
          type: boolean
          description: Indica si la estrategia debe redireccionar a otro login al abrir el tenant
        enablePublicSignUp:
          type: boolean
          description: Indica si la estrategia debe permitir registro de personas o sólo servirá para autenticación
    NativeAuthStrategy:
      type: object
      properties:
        hierarchy:
          type: number
          description: Indica la jerarquía de la estrategia sobre de las demás
    SuccessResponse:
      type: object
      properties:
        code:
          type: number
        status:
          type: string
        message:
          type: string
